h2 {
	padding-top: 30px;
	font-family: 'Open Sans';
}

hr{
	margin-top: 0px;
}


#judul hr{
	padding-bottom: 10px;
}

#judul h4 {
	font-size: 14pt;
}

#judul hr {
	width: 250px;

}


/*link*/
a:hover {
    text-decoration: none;
    color: white;
}

a {
	color: black;
}


/*dropdown hover*/
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.dropdown-menu {
	border-radius: 0px;
}


.entry-content {
	padding-top: 10px;
}

.dropdown-toggle a {
	color: #fff;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.item {
  position: relative;
  
  border: 1px solid #333;
  margin: 2%;
  overflow: hidden;
 
}
.item img {
  max-width: 100%;
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item:hover img {
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.gbr-berita img {
  border-radius: 3px;
  max-width: 100%;
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.gbr-berita:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.peta iframe {
  border-radius: 3px;
  max-width: 100%;
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.peta:hover iframe {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure{  
  width:100%;
  overflow: hidden;
  margin:0;  
}
figure img{
  display:block;
  width:100%;  
}



.bgatas img{
   margin:-25% 0;
}


#button {
  display: inline-block;
  background-color: #f8c300;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 5px;
  right: 5px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1.6em;
  line-height: 40px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/* Styles for the content section */


@media (min-width: 500px) {

  #button {
    margin: 30px;
  }
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.inner {
  animation: fade-in 0.75s 0.25s ease-in forwards;
}

.inner1 {

  animation: fade-in 0.75s 0.25s ease-in forwards;
}

.nav-link:hover {
  background-color: #f8c300; 
}

.nav-item .nav-link:active, .dropdown .nav-link:active{
  background-color: #f8c300;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.judul-berita {
  width:100%; 
  height:90px;
}

.judul-berita-dinsos {
  width:100%; 
  height:140px;
}

.logo {
  width: 6%;
  float:left;
}

.text-atas {
  font-size: 20pt;
  margin-top: -7px;
  letter-spacing: 5px;
  margin-bottom: -14px;
}

.text-bawah {
  font-size: 15pt;
  letter-spacing: 1.05px;
}

@media only screen and (max-width: 700px) {
  .judul-berita {
      margin-top: 15px;
      width:100%; 
      height:100px;
  }

  .judul-berita-dinsos {
    margin-top: 20px;
    width:100%; 
    height:210px;
    font-size: 10pt;
  }

  .berita2{
    font-size: 10pt;

  }

  .icon1 {
     font-size: 10pt;
  }
    

  .logo {
    width: 17%;
    float:left;
  }

  .logo-text {
    font-size: 15pt;
  }

  .text-atas {
    font-size: 10pt;
    margin-top: -3.5px;
    letter-spacing: 2.5px;
    margin-bottom: -7px;
    padding-top: 5px;
  }

  .text-bawah {
    font-size: 7.5pt;
    letter-spacing: 0.525px;
  } 

  .poster-indicators {
    height: 1rem;
    width: 1rem;
    max-width: 1rem;
  }
}

.judul-berita-dinsos a{
  font-style: bold;
  color: #000;
}

.judul-berita-dinsos:hover a{
  font-style: bold;
  color: #f8c300;
}


.judul-berita a{
  font-style: bold;
  color: #000;
}

.judul-berita:hover a{
  font-style: bold;
  color: #f8c300;
}

.card-header {
  background-color: #f8c300 ;
}

.carousel-caption {
  left:0;
  right:0;
  bottom:0;
  text-align:left;
  padding:10px;
  background:rgba(0,0,0,0.6);
  text-shadow:none;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: 20px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.submenu {
    position: relative;
}

.submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: 0px;
    -webkit-border-radius: 0 0px 0px 0px;
    -moz-border-radius: 0 0px 0px;
    border-radius: 0 0 0 0;
}