
/*
Template Name: Rex
Author: MarkUps
Author URI: http://www.markups.io/
Description: Rex - One Page Multipurpose Business HTML5 Template.
Version: 1.0
Tags: light, white,blog,business,multipurpose,one page, single page, custom-colors,Bootstrap,responsive, html5, css3
*/


/* Table of Content
==================================================
#BASIC TYPOGRAPHY
#HEADER	
#MENU 
#ABOUT
#CALL TO ACTION
#TEAM   
#SERVICE
#PORTFOLIO
#COUNTER
#PRICING TABLE
#TESTIMONIAL
#FORM BLOG
#CLIENT
#CONTACT
#FOOTER
#BLOG PAGE
#ERROR PAGE
*/


/*--------------------*/
/* BASIC TYPOGRAPHY */
/*--------------------*/
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
a{ 
	text-decoration: none;
	color: #2f2f2f;  
}
a:focus{
	outline: none;
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Open Sans';

}

img{
 border:none;
}

.welcome-area{
	float: left;
	display: inline;
	width: 100%;	
}
.title-area {
	display: inline;
	float: left;
	padding: 0 172px;
	position: relative;
	text-align: center;
	width: 100%;
}
.tittle {
	color: #3a3a3a;
	font-size: 40px;
	margin-bottom: 0;
	padding-bottom: 18px;
}
.tittle-line {
	background-color: #898989;
	display: inline-block;
	height: 3px;
	margin-bottom: 16px;
	width: 60px;
}
.welcome-content{
	float: left;
	display: inline;
	width: 100%;
	margin-top: 50px;
}
.wc-table{
	display: inline-block;
	text-align: center;
}
.wc-table li {  
	float: left;
	width: 25%;
}
.single-wc-content{
	float: left;
	display: inline;
	width: 100%;
}
.single-wc-content span {
	border-radius: 100%;
	display: inline-block;
	font-size: 35px;
	height: 117px;
	line-height: 117px;
	text-align: center;
	width: 117px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.single-wc-content .wc-tittle{
	color: #525252;
	text-transform: uppercase;
	font-size: 18px;
	border-bottom: 1px solid #bbbbbb;
	margin-top: 32px;
	padding-bottom: 17px;	
}
.single-wc-content p {
	color: #7d7d7d;
	font-size: 15px;
	padding: 12px;
}
.single-wc-content:hover .wc-icon{
	color: #fff;
}
.single-wc-content:hover .wc-tittle{
	padding-bottom: 16px;	
}


/*======================///////////////
			start responsive style
=====================///////////////////////*/


@media(max-width:1199px ){
	.counter-area {
	  padding: 125px 0;  
	}
}


@media(max-width:991px ){
		.single-wc-content .wc-tittle {
	  font-size: 15px;	  
	}
	
	.title-area {
	  padding: 0 100px;  
	}	
}


@media(max-width:767px ){	
	.wc-table li {
	  margin-bottom: 20px;
	  width: 50%;
	}

}

@media(max-width:480px ){
	
}

@media(max-width:360px ){	
	.wc-table li {
	  margin-bottom: 20px;
	  width: 100%;
	}	
}


@media(max-width:320px ){
		
}
